@font-face{
	font-family:"Milkshake";
	
	font-weight:normal;
	font-style: normal;
	src: url("../fonts/Milkshake.otf") format("opentype");
	src: url("../fonts/Milkshake.ttf") format("truetype");
}
@font-face{
	font-family:"TeX-Gyre-Schola";
	
	font-weight:normal;
	font-style:normal;
	src: url("../fonts/texgyreschola-regular.otf") format("opentype");
}

body{
	margin:0;
	font-family:"TeX-Gyre-Schola";
}

h1{
	font-family:"Milkshake";
	font-size:3.5rem;
	background-color:#93bbe4;
	text-align:center;
	color:white;
	margin:0;
	padding:.5rem;
}

h2{
	font-size:2.5rem;
}

h3{
	font-size:1.75rem;
}