@font-face{
	font-family:"Georgia";
	
	font-weight:normal;
	font-style: normal;
	src: url("../fonts/georgia.ttf") format("truetype");
	src: url("../fonts/georgiaiab.ttf") format("truetype");
	src: url("../fonts/georgiaiai.ttf") format("truetype");
}
@font-face{
	font-family:"Franklin";
	
	font-weight:normal;
	font-style:normal;
	src: url("../fonts/FRABK.ttf") format("truetype");
}

body{
	margin:0;
	font-family:"Franklin";
}

h1{
	font-family: "Georgia";
    font-weight: normal;
    font-size: 3.5rem;
    font-style: italic;
    background-color: #93bbe4;
    text-align: center;
    color: white;
    margin: 0;
    padding: .5rem;
}

h2, h3, h4, h5, h6{
	font-family: "Georgia";
    font-weight: bold;
	font-style: italic;
}
p{
	font-style:normal;
}