section{
	margin:.5rem;
}
nav{
	background-color:#93bbe4;
	text-align:center;
	color:white;
	padding:.5rem;
}
nav .button{
	text-decoration:none;
	color:white;
	width:100%;
}

nav .button:hover, nav .button:focus{
	background-color:#fee381;
}

.half-col *{
	max-width:100%;
	
	flex-shrink:1;
	flex-grow:1;
	flex-wrap:wrap;
}
.half-col div *{
	max-width:100%
}
.half-col div img{
	max-width:100%;
	margin:0;
}


